target/

*.log

*.class

*.jar
*.war
*.ear


.idea/
*.iml
*.ipr
*.iws

.project
.classpath
.settings/
.buildpath


nbproject/private/

.vscode/

.mvn/wrapper/maven-wrapper.jar

surefire-reports/

.DS_Store
Thumbs.db

*.tmp
*.swp
